* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --heading_dark_color: #0b0c0c;
  --heading_light_color: #212529;
  --para_dark_color: #030e1d;
  --para_light_color: #06284d;
  --background_dark_color: #f5e18b;
  --background_light_color: #e2abf8;
  --primary_helper_color: #3dff94;
  --primary_gradient: linear-gradient(0deg, #4929ff 0%, #ffff00 100%);
  --primary_shadow: 2rem 2rem 2rem #ff00bf;
  --test-border: 2px solid red;

  --navbar_dark_color: #3729f1;
  --navbar_light_color: #2bc8f0;
  --navbar_background_color: #69f02b;
  --navbar_height: 7rem;

  --footer_dark_color: #190620;
  --footer_light_color: #6a1f88;
  --footer_background_color: #ff9659;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 3rem;
}
p {
  line-height: 1.8;
}

/*=============================================
        Reuseable Classes
===============================================*/
.para_big {
  font-size: 2.5rem;
  font-weight: 500;
}
.para_medium {
  font-size: 2rem;
  font-weight: 400;
}
.para_small {
  font-size: 1.5rem;
  font-weight: 300;
}

.primary_button {
}

.logo_box {
}
.logo_box a {
  text-transform: capitalize;
}
.logo_box a span {
}

.section_box {
  padding: 2rem 4rem;
  background-color: var(--background_dark_color);
}
.section {
  background-color: var(--background_light_color);
}

/*=============================================
        Navbar Classes
===============================================*/

.nav_header_box {
  background-color: var(--navbar_background_color);
  height: var(--navbar_height);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: var(--test-border);
}

.nav_logo_box {
  border: var(--test-border);
  font-size: 3rem;
}

.nav_menu_box {
  border: var(--test-border);
  display: flex;
  gap: 3rem;
}

.nav_menu_item:link,
.nav_menu_item:visited {
  border: var(--test-border);
  font-size: 2rem;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: var(--navbar_dark_color);
  transition: all 0.3s linear;
}

.nav_menu_item:hover,
.nav_menu_item:active {
  color: var(--navbar_light_color);
}
