* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* =========================================================
      Root Variables
========================================================= */
:root {
  --primary_color: blue;
  --secondary_color: aqua;

  --background_color_dark: lightblue;
  --background_color_light: khaki;

  --heading_color_dark: teal;
  --heading_color_light: coral;

  --para_color_dark: saddlebrown;
  --para_color_light: seagreen;

  --navbar_height: 7rem;
  --navbar_color_dark: darkgreen;
  --navbar_color_light: springgreen;
  --navbar_background: tomato;

  --test_border: 2px solid red;
}

/* =========================================================
      Reset Defaults
========================================================= */
body {
  color: springgreen;
}

h1,
h2,
h3,
h4 {
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--heading_color_dark);
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--heading_color_dark);
}
h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--heading_color_dark);
}
h4 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--heading_color_dark);
}

p {
  line-height: 1.6;
  color: var(--para_color_dark);
}

a {
  text-decoration: none;
}

/* =========================================================
      Reuseable Class
========================================================= */
.logo_link {
  font-size: 2.5rem;
  font-weight: 500;
  color: snow;
}

.para_large {
  font-size: 2.5rem;
  font-weight: 500;
}

.para_medium {
  font-size: 2.5rem;
  font-weight: 500;
}

.para_large {
  font-size: 2.5rem;
  font-weight: 500;
}

.transition_fast {
  transition: all 0.3s linear;
}
.transition_medium {
  transition: all 0.5s linear;
}
.transition_slow {
  transition: all 0.7s ease-in-out;
}

/* =========================================================
      Navbar Section Starts
========================================================= */
.navbar_box {
  border: var(--test_border);

  background-color: var(--navbar_background);
  height: var(--navbar_height);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo_box {
  border: var(--test_border);

  font-size: 3rem;
}

.navbar_menu_box {
  border: var(--test_border);

  display: flex;
  gap: 3rem;
}

.navbar_links {
  border: var(--test_border);

  color: var(--navbar_color_dark);
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
}

.navbar_links:hover {
  color: var(--navbar_color_light);
}
