@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

/* =============== CSS Defaults Reset Starts =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
  line-height: 1.6;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}
a {
  text-decoration: none;
}
/* =============== CSS Defaults Reset Ends =============== */

/* =============== Root Variables Starts =============== */

:root {
  --test-border: 1px solid red;

  --logo_dark_color: hsl(30, 100%, 60%);
  --logo_light_color: hsl(60, 100%, 60%);

  --heading_dark_color: hsl(240, 15%, 45%);
  --heading_light_color: hsl(210, 15%, 60%);
  --para_dark_color: hsl(180, 30%, 45%);
  --para_light_color: hsl(150, 30%, 60%);

  --primary_color: hsl(180, 100%, 60%);
  --secondary_color: hsl(150, 100%, 60%);

  --background_dark_color: hsl(270, 60%, 75%);
  --background_light_color: hsl(270, 60%, 90%);

  --helper_color: hsl(150, 100%, 60%);

  --shadow_dark_color: hsl(45, 30%, 60%);
  --shadow_light_color: hsl(90, 30%, 90%);

  --font_size_xl: 2.1rem;
  --font_size_l: 1.8rem;
  --font_size_m: 1.5rem;
  --font_size_s: 1.2rem;
  --font_size_xs: 0.9rem;

  --gap_xl: 3rem;
  --gap_l: 2.4rem;
  --gap_m: 1.8rem;
  --gap_s: 1.2rem;
  --gap_xs: 0.6rem;

  --primary_border_radius: 0.6rem;
  --secondary_border_radius: 1.2rem;

  --section_padding: 1.2rem 4.5rem;

  --navbar_height: 7.2rem;
  --navbar_dark_color: hsl(0, 100%, 30%);
  --navbar_light_color: hsl(30, 100%, 60%);
  --navbar_background_color: hsl(300, 100%, 90%);

  --footer_dark_color: hsl(0, 30%, 30%);
  --footer_light_color: hsl(30, 60%, 60%);
  --footer_background_color: hsl(300, 0%, 90%);
  --footer_heading_color: hsl(360, 100%, 60%);
}

/* =============== Root Variables Ends =============== */

/* =============== Reusable Classes Starts =============== */
.bt {
  border: var(--test-border);
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.box_col {
  flex-direction: column;
}
.box_wrap {
  flex-wrap: wrap;
}
.box_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_l {
  gap: var(--gap_l);
}
.box_m {
  gap: var(--gap_m);
}
.box_s {
  gap: var(--gap_s);
}
.box_xs {
  gap: var(--gap_xs);
}
.w_100 {
  width: 100%;
}
.w_50 {
  width: 50%;
}

.h_l {
  color: var(--heading_dark_color);
  font-size: var(--font_size_l);
  font-weight: 700;
}
.h_m {
  color: var(--heading_light_color);
  font-size: var(--font_size_m);
  font-weight: 600;
}
.h_s {
  color: var(--heading_light_color);
  font-size: var(--font_size_s);
  font-weight: 500;
}
.p_l {
  color: var(--para_dark_color);
  font-size: var(--font_size_m);
  font-weight: 700;
}
.p_m {
  color: var(--para_dark_color);
  font-size: var(--font_size_s);
  font-weight: 500;
}
.p_s {
  color: var(--para_light_color);
  font-size: var(--font_size_xs);
  font-weight: 300;
}

/* =============== Reusable Classes Ends =============== */

/* =============== App Classes Starts =============== */

.main_app_box {
  background-color: var(--background_dark_color);
}

.section_box {
  border: var(--test-border);

  padding: var(--section_padding);
  flex-wrap: wrap;
  gap: var(--gap_xl);
  width: 100%;
}
/* =============== App Classes Ends =============== */

/* =============== Navbar Section Starts =============== */

.navbar_box {
  background-color: var(--navbar_background_color);
  height: var(--navbar_height);
  align-items: center;
}

.logo_link:link,
.logo_link:visited {
  font-size: var(--font_size_xl);
  padding: 0.3rem 0.6rem;
  color: var(--logo_dark_color);
  background-color: var(--logo_light_color);
  border: 0.21rem solid var(--logo_dark_color);
  border-radius: var(--primary_border_radius);
  transition: all 0.3s linear;
}
.logo_link:hover,
.logo_link:active {
  color: var(--logo_light_color);
  background-color: var(--logo_dark_color);
  border: 0.21rem solid var(--logo_light_color);
}

.nav_link:link,
.nav_link:visited {
  font-family: "Poppins", sans-serif;
  font-size: var(--font_size_m);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--navbar_dark_color);
  transition: all 0.3s linear;
}
.nav_link:hover,
.nav_link:active {
  color: var(--navbar_light_color);
}
/* =============== Navbar Section Ends =============== */

/* =============== Hero Section Starts =============== */

/* =============== Hero Section Ends =============== */

/* =============== Footer Section Starts =============== */

.footer_box {
  background-color: var(--footer_background_color);
}

.footer_box h3 {
  color: var(--footer_heading_color);
}

.footer_about_box,
.footer_quick_links_box,
.footer_service_links_box,
.footer_contact_box {
  border: var(--test-border);

  width: 21%;
}

.footer_credits {
  border: var(--test-border);

  width: 100%;
}

/* =============== Footer Section Ends =============== */
