@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* ================== Default CSS Reset Starts ================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* ================== Default CSS Reset Ends ================== */

/* ================== Root Variables Starts ================== */

:root {
  --test-border: 1px solid red;

  --primary_color: hsl(210, 100%, 60%);
  --secondary_color: hsl(150, 100%, 60%);

  --logo_dark_color: hsl(30, 90%, 45%);
  --logo_light_color: hsl(60, 90%, 45%);

  --background_dark_color: hsl(120, 100%, 90%);
  --background_light_color: hsl(60, 100%, 90%);

  --primary_shadow_color: hsl(300, 90%, 90%);
  --secondary_shadow_color: hsl(240, 90%, 90%);

  --primary_gradient: linear-gradient(
    to right,
    var(--primary_color),
    var(--secondary_color)
  );

  --font_size_xl: 3rem;
  --font_size_l: 2.1rem;
  --font_size_m: 1.5rem;
  --font_size_s: 1.2rem;
  --font_size_xs: 0.9rem;

  --heading_dark_color: hsl(0, 100%, 15%);
  --heading_light_color: hsl(30, 60%, 15%);

  --para_dark_color: hsl(255, 60%, 30%);
  --para_light_color: hsl(255, 30%, 30%);

  --gap_l: 3rem;
  --gap_m: 2.1rem;
  --gap_s: 1.2rem;

  --navbar_background_color: hsl(210, 100%, 72%);
  --navbar_dark_color: hsl(0, 60%, 15%);
  --navbar_light_color: hsl(30, 60%, 45%);
  --navbar_height: 7.2rem;
}

/* ================== Root Variables Ends ================== */

/* ================== Reuseable Classes Starts ================== */

.logo_link:link,
.logo_link:visited {
  font-family: "Poppins", sans-serif;
  font-size: var(--font_size_l);
  font-weight: 900;
  color: var(--logo_dark_color);
  text-transform: capitalize;
  border: 0.15rem solid var(--logo_light_color);
  padding: 0.3rem 0.9rem;
  transition: all 0.6s linear;
}

.logo_link:hover,
.logo_link:active {
  color: var(--logo_light_color);
  background-color: var(--logo_dark_color);
}

.primary_button {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  width: 15rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary_gradient);
  font-size: var(--font_size_m);
  font-weight: 700;
  color: var(--para_light_color);
  text-transform: capitalize;
  border-radius: 0.3rem;
  transition: all 0.3s linear;
}
.primary_button:hover {
  box-shadow: 0 0.9rem 1.2rem var(--primary_shadow_color);
}
.primary_button:active {
  box-shadow: 0 0.9rem 1.2rem var(--secondary_shadow_color);
}

.main_box {
  border: var(--test-border);

  background-color: var(--background_dark_color);
  display: flex;
  flex-direction: column;
}

.section_box {
  border: var(--test-border);

  background-color: var(--background_light_color);
  min-height: calc(100vh - var(--navbar_height));
  padding: 1.2rem 4.5rem;
}

.section_heading_box {
  border: var(--test-border);

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}
.section_heading_box h2 {
  text-indent: 1.5rem;
  font-size: var(--font_size_xl);
  font-weight: 700;
  color: var(--heading_dark_color);
  margin-bottom: 0.6rem;
  position: relative;
}
.section_heading_box h2::before {
  content: "";
  position: absolute;
  top: 102%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--primary_gradient);
  border-radius: 50%;
}
.section_heading_box h2::after {
  content: "";
  position: absolute;
  top: 112%;
  left: 1.2rem;
  width: 21rem;
  height: 0.3rem;
  background: var(--secondary_color);
}
.section_heading_box p {
  font-size: var(--font_size_m);
  font-weight: 700;
  color: var(--para_dark_color);
}

.h_l {
  color: var(--heading_dark_color);
  font-size: var(--font_size_l);
  font-weight: 600;
}
.h_m {
  color: var(--heading_dark_color);
  font-size: var(--font_size_m);
  font-weight: 500;
}
.h_s {
  color: var(--heading_light_color);
  font-size: var(--font_size_s);
  font-weight: 300;
}

.p_l {
  color: var(--para_dark_color);
  font-size: var(--font_size_m);
  font-weight: 700;
}
.p_m {
  color: var(--para_light_color);
  font-size: var(--font_size_s);
  font-weight: 500;
}
.p_s {
  color: var(--para_light_color);
  font-size: var(--font_size_xs);
  font-weight: 300;
}

/* ================== Reuseable Classes Ends ================== */

/* ================== Header Section Starts ================== */

.header_box {
  border: var(--test-border);

  background: var(--navbar_background_color);
  height: var(--navbar_height);
  padding: 0 4.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 69;
}

.header_logo_box {
  border: var(--test-border);
}

.nav_menu_box {
  border: var(--test-border);

  display: flex;
  gap: var(--gap_l);
}

.nav_link:link,
.nav_link:visited {
  border: var(--test-border);

  font-family: "Poppins", sans-serif;
  font-size: var(--font_size_m);
  font-weight: 700;
  color: var(--navbar_dark_color);
  text-transform: capitalize;
  transition: all 0.3s linear;
}

.nav_link:hover,
.nav_link:active {
  color: var(--navbar_light_color);
}

/* ================== Header Section Ends ================== */

/* ================== Hero Section Starts ================== */

.hero_section_box {
  border: var(--test-border);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap_l);
}

.hero_welcome_box {
  border: var(--test-border);

  width: 54%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_l);
}

.hero_intro_box {
  border: var(--test-border);

  display: flex;
  flex-direction: column;
  gap: var(--gap_l);
}

.hero_intro_box h1 {
  color: var(--logo_dark_color);
  font-size: 6.9rem;
}

.hero_social_links_box {
  border: var(--test-border);

  display: flex;
  gap: var(--gap_l);
}

.hero_buttons_box {
  border: var(--test-border);

  display: flex;
  gap: var(--gap_l);
}

.hero_dp_box {
  border: var(--test-border);

  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_dp_box img {
  width: 69%;
}

/* ================== Hero Section Ends ================== */

/* ================== About Me Section Starts ================== */

.about_section_box {
  border: var(--test-border);

  margin-top: var(--navbar_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.about_background_box,
.about_skills_box {
  border: var(--test-border);

  width: 48%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}
.background_card {
  display: flex;
  justify-content: space-between;
}

.intro_box,
.experience_box,
.education_box {
  border: var(--test-border);

  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}

.technical_skills_box {
  border: var(--test-border);

  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}

.skill_box {
  border: var(--test-border);
}

.skills_rating {
  width: 100%;
  margin-top: 0.6rem;
  height: 1.2rem;
  border-radius: 9rem;
  background-color: var(--secondary_shadow_color);
  box-shadow: 0 0 0.6rem var(--primary_shadow_color);
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.skills_rating span {
  padding-right: 0.6rem;
  z-index: 3;
}
.skills_rating::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary_gradient);
  border-radius: 9rem;
}
.skill_1::before {
  width: 90%;
}
.skill_2::before {
  width: 75%;
}
.skill_3::before {
  width: 65%;
}
.skill_4::before {
  width: 85%;
}
.skill_5::before {
  width: 75%;
}
.skill_6::before {
  width: 60%;
}

/* ================== About Me Section Ends ================== */

/* ================== Projects Section Starts ================== */

.projects_section_box {
  border: var(--test-border);

  margin-top: var(--navbar_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.projects_list_box {
  border: var(--test-border);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.project_card {
  border: var(--test-border);

  width: 30%;
  padding: 1.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);

  border-radius: 1.2rem;
  box-shadow: 0 0 0.9rem var(--primary_shadow_color);
}

/* ================== Projects Section Ends ================== */

/* ================== My Blogs Section Starts ================== */

.blogs_section_box {
  border: var(--test-border);

  margin-top: var(--navbar_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.blogs_filter_box {
  border: var(--test-border);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap_m);
  transition: all 0.6s linear;
}
.blogs_filter_box button:hover {
  transform: translateY(-1.2rem);
}
.blogs_filter_button_active {
  transform: translateY(-1.2rem);
}

.blogs_list_box {
  border: var(--test-border);

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_m);
}

.blog_card {
  border: var(--test-border);

  width: 30%;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.6rem var(--primary_shadow_color);
  overflow: hidden;
  position: relative;
}
.blog_card img {
  width: 100%;
  height: 9rem;
}
.blog_card h3 {
  padding: 0.9rem 1.2rem;
}

.blog_overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary_gradient);
  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(100%);
  opacity: 0.9;
  transition: all 0.3s linear;
}
.blog_card:hover .blog_overlay {
  transform: translateY(0);
}

/* ================== My Blogs Section Ends ================== */

/* ================== Services Section Starts ================== */

.services_section_box {
  border: var(--test-border);

  margin-top: var(--navbar_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.service_list_box {
  border: var(--test-border);

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_m);
}

.service_card {
  border: var(--test-border);

  width: 30%;
  padding: 1.2rem 2.1rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.6rem var(--primary_shadow_color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap_s);
}
.service_card p {
  text-align: center;
}

.service_icon {
  display: inline-block;
  position: relative;
  height: 3.6rem;
  width: 3.6rem;
  padding: 1.2rem;
  color: var(--heading_dark_color);
  background-color: var(--secondary_shadow_color);
  border-radius: 36% 60% 69% 33% / 30% 45% 51% 63%;
  transition: all 0.3s linear;
  animation: wave-animation 3s linear infinite;
}
.service_icon::after {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 0.12rem solid var(--heading_light_color);
  border-radius: 36% 60% 69% 33% / 30% 45% 51% 63%;
  animation: wave-animation 3s linear infinite;
}
@keyframes wave-animation {
  0% {
    border-radius: 36% 60% 69% 33% / 30% 45% 51% 63%;
  }
  50% {
    border-radius: 45% 51% 36% 69% / 48% 63% 36% 42%;
  }
  100% {
    border-radius: 36% 60% 69% 33% / 30% 45% 51% 63%;
  }
}

/* ================== Services Section Ends ================== */

/* ================== Testimonials Section Starts ================== */

.testimonials_section_box {
  border: var(--test-border);

  min-height: auto;
  margin-top: var(--navbar_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.testimonial_swiper_box {
  border: var(--test-border);

  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: var(--font_size_l);
  background: var(--primary_shadow_color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination {
  border: var(--test-border);
}

.testimonial_card {
  border: var(--test-border);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap_l);
  padding: 1.2rem 2.1rem;
}
.testimonial_card p {
  text-align: center;
}

.testimonial_author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap_s);
}

.testimonial_author img {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border: 0.3rem solid var(--secondary_color);
  border-radius: 50%;
}

/* ================== Testimonials Section Ends ================== */

/* ================== Freelance Banner Section Starts ================== */

.freelance_banner_section_box {
  border: var(--test-border);

  min-height: auto;

  background: url("../images/freelance.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}
.freelance_banner_section_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--primary_color);
  opacity: 0.9;
}
.freelance_banner_content {
  position: relative;
  padding: 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap_m);
}
.freelance_banner_section_box h2 {
  font-size: var(--font_size_xl);
  color: white;
}

.freelance_banner_section_box h2 span {
  color: springgreen;
}

.freelance_banner_section_box p {
  font-size: var(--font_size_m);
  color: white;
  text-align: center;
}

/* ================== Freelance Banner Section Ends ================== */

/* ================== Contact Me Section Starts ================== */

.contacts_section_box {
  border: var(--test-border);

  margin-top: var(--navbar_height);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap_l);
}

.contact_info_box {
  border: var(--test-border);

  width: 48%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}

.contact_info_card {
  display: flex;
  gap: var(--gap_s);
}
.contact_icon {
  font-size: var(--font_size_l);
}
.contact_address_box {
  border: var(--test-border);

  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
  width: 100%;
}

.contact_address_box iframe {
  width: 100%;
  height: 30rem;
  border: 0.21rem solid var(--primary_shadow_color);
  border-radius: 0.9rem;
}

.contact_form_box {
  border: var(--test-border);

  width: 48%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}

.contact_form_box input,
textarea {
  width: 100%;
  padding: 1.2rem 2.1rem;
  outline: none;
  border: 0.15rem solid var(--primary_shadow_color);
  background: transparent;
  color: var(--para_light_color);
  font-size: var(--font_size_m);
  border-radius: 0.9rem;
}

.contact_form_box input:focus,
textarea:focus {
  border: 0.15rem solid springgreen;
}

/* ================== Contact Me Section Ends ================== */

/* ================== Footer Section Starts ================== */

.footer_box {
  border: var(--test-border);

  padding: 2.1rem 4.5rem;
  background-color: darkgray;
}

/* ================== Footer Section Ends ================== */
