@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");

/* =============== Default CSS Reset Starts =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
html {
  font-size: 62.5%;
  line-height: 1.8;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}
a {
  text-decoration: none;
}

/* =============== Default CSS Reset Ends =============== */

/* =============== Root Variables Starts =============== */

:root {
  --test_border: 1px solid red;

  --logo_color_dark: hsl(30, 100%, 60%);
  --logo_color_light: hsl(60, 100%, 60%);

  --primary_color: hsl(240, 100%, 60%);
  --secondary_color: hsl(180, 100%, 60%);
  --helper_color: hsl(300, 100%, 30%);

  --background_color_dark: hsl(30, 100%, 75%);
  --background_color_light: hsl(360, 100%, 90%);

  --heading_color_dark: hsl(210, 30%, 30%);
  --heading_color_light: hsl(270, 30%, 30%);
  --para_color_dark: hsl(240, 30%, 60%);
  --para_color_light: hsl(300, 30%, 60%);

  --primary_border_radius: 0.3rem;
  --secondary_border_radius: 1.2rem;

  --primary_gradient: linear-gradient(
    to right,
    var(--primary_color),
    var(--secondary_color)
  );
  --secondary_gradient: linear-gradient(
    to left,
    var(--primary_color),
    var(--secondary_color)
  );

  --gap_xl: 3rem;
  --gap_l: 2.4rem;
  --gap_m: 1.8rem;
  --gap_s: 1.2rem;
  --gap_xs: 0.6rem;

  --font_size_xl: 3rem;
  --font_size_l: 2.1rem;
  --font_size_m: 1.5rem;
  --font_size_s: 1.2rem;
  --font_size_xs: 0.9rem;

  --navbar_height: 7.2rem;
  --navbar_color_dark: hsl(210, 100%, 30%);
  --navbar_color_light: hsl(210, 100%, 60%);
  --navbar_background_color: hsl(210, 100%, 90%);

  --section_padding: 1.2rem 4.8rem;
  --section_height: calc(100vh - var(--navbar_height));
}

/* =============== Root Variables Ends =============== */

/* =============== Reusable Classes Starts =============== */

.bt {
  border: var(--test_border);
}
.w_100 {
  width: 100%;
}
.box {
  border: var(--test_border);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.box_center {
  border: var(--test_border);

  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.gap_l {
  gap: var(--gap_l);
}
.gap_m {
  gap: var(--gap_m);
}
.gap_s {
  gap: var(--gap_s);
}
.gap_xs {
  gap: var(--gap_xs);
}
.text_center {
  text-align: center;
}

.h_l {
  font-weight: 700;
  font-size: var(--font_size_l);
  color: var(--heading_color_dark);
}
.h_m {
  font-weight: 600;
  font-size: var(--font_size_m);
  color: var(--heading_color_light);
}
.h_s {
  font-weight: 500;
  font-size: var(--font_size_s);
  color: var(--heading_color_dark);
}
.p_l {
  font-weight: 700;
  font-size: var(--font_size_m);
  color: var(--para_color_dark);
}
.p_m {
  font-weight: 500;
  font-size: var(--font_size_s);
  color: var(--para_color_light);
}
.p_s {
  font-weight: 300;
  font-size: var(--font_size_xs);
  color: var(--para_color_light);
}

.primary_button {
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--primary_gradient);
  width: 21rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap_s);
  color: hsl(0, 0%, 15%);
  font-size: var(--font_size_m);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--primary_border_radius);
  transition: all 0.3s linear;
}
.primary_button:hover,
.primary_button:active {
  box-shadow: 0 0 0.9rem var(--helper_color);
}
/* =============== Reusable Classes Ends =============== */

/* =============== Main App Classes Starts =============== */

.main_app_box {
  background-color: var(--background_color_light);
}

.section_box {
  border: var(--test_border);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--gap_xl);
  padding: var(--section_padding);
}
/* =============== Main App Classes Ends =============== */

/* =============== Navbar Section Starts =============== */

.navbar_box {
  height: var(--navbar_height);
  background-color: var(--navbar_background_color);
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 69;
}

.nav_logo_link {
  text-transform: uppercase;
  font-size: var(--font_size_l);
  padding: 0.3rem 1.2rem;
  color: var(--logo_color_dark);
  background-color: var(--logo_color_light);
  border: 0.3rem solid var(--logo_color_dark);
  border-radius: var(--primary_border_radius);
  transition: all 0.3s linear;
}
.nav_logo_link:hover,
.nav_logo_link:active {
  color: var(--logo_color_light);
  background-color: var(--logo_color_dark);
  border: 0.3rem solid var(--logo_color_light);
}
.nav_menu_box {
}

.nav_link {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: var(--font_size_m);
  font-weight: 500;
  color: var(--navbar_color_dark);
  transition: all 0.3s linear;
}
.nav_link:hover,
.nav_link:active {
  color: var(--navbar_color_light);
}
/* =============== Navbar Section Ends =============== */

/* =============== Footer Section Starts =============== */

/* =============== Footer Section Ends =============== */

.hero_section {
  min-height: var(--section_height);
  background-color: var(--background_color_dark);
  align-items: center;
}

.hero_intro_box {
  width: 60%;
  gap: var(--gap_xl);
}
.hero_intro_box h1 {
  font-weight: 900;
  font-size: 6.9rem;
  color: var(--logo_color_dark);
}

.hero_social_links {
  gap: var(--gap_xl);
}
.hero_social_links a {
  font-size: var(--font_size_xl);
}
.hero_dp_box {
  width: 30%;
}

.hero_dp_box img {
  width: 90%;
}

/* =============== About Me Section Starts =============== */

.about_section {
  min-height: var(--section_height);
  margin-top: var(--navbar_height);
}

.section_heading {
  width: 100%;
}
.section_heading h2 {
  font-weight: 900;
  font-size: var(--font_size_xl);
  margin-bottom: var(--gap_s);
  position: relative;
}
.section_heading h2::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 1rem;
  width: 21rem;
  height: 0.3rem;
  background: var(--secondary_gradient);
}
.section_heading h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: var(--primary_gradient);
}

.about_background_box,
.about_skills_box {
  width: 48%;
}

.about_card {
}

.skill_card {
}

.skill_rating {
  width: 100%;
  height: 1.2rem;
  padding-right: 0.6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 0 0.3rem var(--helper_color);
  background-color: var(--background_color_dark);
  border-radius: var(--secondary_border_radius);
  position: relative;
}
.skill_rating::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary_gradient);
  border-radius: var(--secondary_border_radius);
}
.skill_1::before {
  width: 90%;
}
.skill_2::before {
  width: 75%;
}
.skill_3::before {
  width: 65%;
}
.skill_4::before {
  width: 85%;
}
.skill_5::before {
  width: 75%;
}
.skill_6::before {
  width: 60%;
}
/* =============== About Me Section Ends =============== */

/* =============== My Projects Section Starts =============== */

.projects_section {
  min-height: var(--section_height);
  margin-top: var(--navbar_height);
}

.projects_list_box {
  width: 100%;
}

.project_card {
  width: 30%;
  align-self: stretch;
  justify-content: flex-start;
  background-color: var(--background_color_dark);
  padding: 1.2rem;
  border-radius: var(--secondary_border_radius);
}
.project_card:hover {
  box-shadow: 0 0 0.6rem var(--helper_color);
}
/* =============== My Projects Section Ends =============== */

/* =============== My Blogs Section Starts =============== */

.blogs_section {
  min-height: var(--section_height);
  margin-top: var(--navbar_height);
}
.blogs_filter_box {
  width: 100%;
}
.blogs_filter_box button:hover,
.blogs_filter_box button:active {
  transform: translateY(-0.9rem);
}

.blogs_list_box {
  width: 100%;
}

.blog_card {
  width: 30%;
  overflow: hidden;
  background-color: var(--background_color_dark);
  border-radius: var(--secondary_border_radius);
  position: relative;
}
.blog_card:hover {
  box-shadow: 0 0 0.6rem var(--helper_color);
}
.blog_card img {
  height: 9rem;
  width: 100%;
}
.blog_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background_color_dark);
  transform: translateY(100%);
  opacity: 0.9;
  transition: all 0.3s linear;
}
.blog_card:hover .blog_overlay {
  transform: translateY(0);
}
/* =============== My Blogs Section Ends =============== */

/* =============== My Services Section Starts =============== */

.services_section {
  min-height: var(--section_height);
  margin-top: var(--navbar_height);
}

.services_list_box {
  width: 100%;
}

.service_card {
  width: 30%;
  padding: 1.2rem;
  background-color: var(--background_color_dark);
  border-radius: var(--secondary_border_radius);
}
.service_card:hover {
  box-shadow: 0 0 0.6rem var(--helper_color);
}
.service_icon {
  color: var(--heading_color_light);
  display: inline-block;
  padding: 1.2rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: var(--background_color_light);
  border-radius: 36% 60% 66% 30% / 36% 42% 57% 63%;
  position: relative;
  animation: services_wave_animation 3s linear infinite;
}
.service_icon::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 0.15rem solid var(--heading_color_dark);

  border-radius: 36% 60% 66% 30% / 36% 42% 57% 63%;
  animation: services_wave_animation 7s linear infinite;
}
.service_icon::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 0.15rem solid var(--heading_color_dark);

  border-radius: 36% 60% 66% 30% / 36% 42% 57% 63%;
  animation: services_wave_animation 5s linear infinite;
}

@keyframes services_wave_animation {
  0% {
    border-radius: 36% 60% 66% 30% / 36% 42% 57% 63%;
  }
  25% {
    border-radius: 45% 69% 57% 39% / 45% 51% 48% 54%;
  }
  50% {
    border-radius: 54% 60% 66% 48% / 54% 60% 42% 45%;
  }
  75% {
    border-radius: 45% 51% 36% 60% / 45% 54% 60% 36%;
  }
  1000% {
    border-radius: 36% 60% 66% 30% / 36% 42% 57% 63%;
  }
}
/* =============== My Services Section Ends =============== */

/* =============== Testimonials Section Starts =============== */
.testimonial_section {
  margin-top: var(--navbar_height);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 3rem;
}

.testimonial_card {
  padding: 1.5rem 4.5rem;
  background-color: var(--background_color_dark);
  border-radius: var(--secondary_border_radius);
}
.testimonial_card:hover {
  box-shadow: 0 0 0.6rem var(--helper_color);
}

.testimonial_card img {
  display: inline-block;
  width: 6rem;
  height: 6rem;

  border-radius: 50%;
  border: 0.21rem solid var(--background_color_light);
}
.testimonial_card a:hover {
  text-decoration: underline;
}
/* =============== Testimonials Section Ends =============== */

/* =============== Freelance Banner Section Starts =============== */

.freelance_banner {
  background: url("../images/freelance.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  position: relative;
}
.freelance_banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background_color_dark);
  opacity: 0.6;
}
.freelance_content_box {
  padding: 4.5rem 0;
  position: relative;
  gap: var(--gap_xl);
}
.freelance_content_box h2 {
  font-size: var(--font_size_xl);
  color: var(--heading_color_dark);
}
.freelance_content_box h2 span {
  color: springgreen;
}

.freelance_content_box p {
  font-size: var(--font_size_m);
  color: var(--heading_color_dark);
}

/* =============== Freelance Banner Section Ends =============== */

/* =============== Contact Me Section Starts =============== */

.contact_section {
  min-height: var(--section_height);
  margin-top: var(--navbar_height);
}

.contact_info_box,
.contact_form_box {
  width: 48%;
}

.contact_card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: var(--gap_s);
}
.contact_me_icon {
  font-size: var(--font_size_l);
}
.contact_card iframe {
  width: 100%;
  height: 27rem;
  border: 0.3rem solid var(--background_color_dark);
  border-radius: var(--secondary_border_radius);
}

.contact_form_box input,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: 0.21rem solid var(--helper_color);
  background-color: var(--background_color_dark);
  border-radius: var(--primary_border_radius);
  font-size: var(--font_size_m);
  color: var(--para_color_dark);
  outline: none;
}
/* =============== Contact Me Section Ends =============== */

/* =============== Footer Section Starts =============== */

/* =============== Footer Section Ends =============== */
