@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Roboto:wght@500;700&family=Work+Sans:wght@400;500&display=swap");

/* =====================
                        Default CSS starts
                                          ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary_color: #d16e4f;
  --secondary_color: #dad048;
  --helper_color: #77eb81;
  --heading_color_dark: #2a580f;
  --heading_color_light: #57f746;
  --para_color_dark: #500950;
  --para_color_light: #e06bf5;
  --background_color_dark: #584839;
  --background_color_light: #d4bca5;
  --primary_gradient: (0deg, #ccf33d 0%, #f51c1c 100%);
  --shadow_dark: 0 0 2rem 0 #54e727;
  --shadow_light: 0 0 2rem 0 #fc92ee;
  --navbar_height: 9rem;
  --navbar_background_color: #c4c8fc;
  --primary_transition: 0.3s all ease-in-out;

  --test_border: 2px solid red;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading_color_dark);
  font-weight: 800;
  font-size: 3rem;
}
h2 {
  color: var(--heading_color_dark);
  font-weight: 700;
  font-size: 2.7rem;
}
h3 {
  color: var(--heading_color_light);
  font-weight: 600;
  font-size: 2.4rem;
}
h4 {
  color: var(--heading_color_light);
  font-weight: 500;
  font-size: 2.1rem;
}
p {
  line-height: 1.6;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* =====================
                        Default CSS ends
                                        ===================== */

/* =====================
                        Reuseable CSS Classes starts
                                                    ===================== */
.pl {
  font-size: 2.1rem;
  color: var(--para_color_dark);
}
.pm {
  font-size: 1.8rem;
  color: var(--para_color_dark);
}
.ps {
  font-size: 2.1rem;
  color: var(--para_color_light);
}

.primary_btn {
}
.secondary_btn {
}

/* =====================
                        Reuseable CSS Classes ends
                                                    ===================== */

/* =====================
                        Page and Section CSS starts
                                                   ===================== */
.section_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
  border: var(--test_border);
}
.sections {
  padding: 1rem 2rem;

  border: var(--test_border);
}

/* =====================
                        Page and Section CSS ends
                                                   ===================== */

/* =====================
                        Header and Navbar CSS starts
                                                    ===================== */

.header_box {
  max-height: var(--navbar_height);
  overflow: hidden;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar_background_color);

  border: var(--test_border);
}
.logo_box {
  padding: 1rem 2rem;
  border: 0.3rem solid var(--secondary_color);
  background-color: var(--navbar_background_color);
}
.logo_box a {
  font-size: 2.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary_color);
  background-color: var(--navbar_background_color);
}
.logo_box a span {
  padding: 0 1rem;
  color: var(--navbar_background_color);
  background-color: var(--primary_color);
}
.nav_menu_box {
  padding: 1rem 2rem;
  display: flex;
  gap: 3rem;

  border: var(--test_border);
}

.nav_link:link,
.nav_link:visited {
  color: var(--heading_color_dark);
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: var(--primary_transition);

  border: var(--test_border);
}

.nav_link:hover,
.nav_link:active {
  color: var(--heading_color_light);

  border: var(--test_border);
}

/* =====================
                        Header and Navbar CSS ends
                                                  ===================== */

/* =====================
                        Home Section CSS starts
                                               ===================== */

/* =====================
                        Home Section CSS ends
                                             ===================== */

/* =====================
                        About Section CSS starts
                                                ===================== */

/* =====================
                        About Section CSS ends
                                              ===================== */

/* =====================
                        Projects Section CSS starts
                                                   ===================== */

/* =====================
                        Projects Section CSS ends
                                                 ===================== */

/* =====================
                        Blogs Section CSS starts
                                                 ===================== */

/* =====================
                        Blogs Section CSS ends
                                               ===================== */

/* =====================
                        Contact Section CSS starts
                                                   ===================== */

/* =====================
                        Contact Section CSS ends
                                                 ===================== */

/* =====================
                        Footer Section CSS starts
                                                 ===================== */

.footer_box {
  padding: 3rem 6rem;
  border: var(--test_border);
}

/* =====================
                        Footer Section CSS ends
                                               ===================== */
