* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --logo_dark: hsl(30, 100%, 50%);
  --logo_light: hsl(60, 100%, 50%);

  --navbar_background: hsl(180, 100%, 35%);
  --navbar_color_dark: hsl(180, 100%, 15%);
  --navbar_color_light: hsl(150, 100%, 30%);
  --navbar_height: 6rem;
}

a {
  text-decoration: none;
}

/* //////////////////////// Reuseable Classes Starts //////////////////////// */
.logo_box {
  color: var(--logo_dark);
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s all linear;
}
.logo_box:hover {
  color: var(--logo_light);
}
/* //////////////////////// Reuseable Classes Ends //////////////////////// */

/* //////////////////////// Navbar Section Starts //////////////////////// */
.navbar_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar_height);
  background: var(--navbar_background);
  padding: 1.5rem 3rem;
}

.navbar_box .logo_box {
  font-size: 3rem;
}

.navbar_menu {
  display: flex;
  gap: 3rem;
}

.navbar_menu a {
  font-size: 2.1rem;
  font-weight: bold;
  color: var(--navbar_color_dark);
  text-transform: capitalize;
  transition: 0.3s all linear;
}
.navbar_menu a:hover {
  color: var(--navbar_color_light);
}

/* //////////////////////// Navbar Section Ends //////////////////////// */
